<table id="showsubject" class="table table-hover table-bordered">
	<tr>
		<th>题号</th>
		<th>题目</th>
		<th>RATIO(AC/SUB)</th>
		<th>添加时间</th>
		<th>主题</th>
	</tr>
	<tr>
		<td><a href="__APP__/Home/Subject/question">1</a></td>
		<td>
			<a href="__APP__/Home/Subject/question">好长的序列</a>
		</td>
		<td>29.59% (271/916)</td>
		<td>2014-03-07 15:15:00</td>
		<td>数据结构</td>
	</tr>
	<tr>
		<td><a href="">2</a></td>
		<td>
			<a href="">SpringBot机器人指令集</a>
		</td>
		<td>29.59% (271/916)</td>
		<td>2014-03-07 15:15:00</td>
		<td>ACM</td>
	</tr>
	<tr>
		<td><a href="">3</a></td>
		<td>
			<a href="">将一个整数线性表拆分成奇数和偶数线性表</a>
		</td>
		<td>29.59% (271/916)</td>
		<td>2014-03-07 15:15:00</td>
		<td>竞赛</td>
	</tr>
	<tr>
		<td><a href="">4</a></td>
		<td>
			<a href="">求二叉树中某结点在层序序列中的编号</a>
		</td>
		<td>29.59% (271/916)</td>
		<td>2014-03-07 15:15:00</td>
		<td>数据结构</td>
	</tr>
	<tr>
		<td><a href="">5</a></td>
		<td>
			<a href="">按层序输出二叉树根结点深度较小的子树中的结点</a>
		</td>
		<td>29.59% (271/916)</td>
		<td>2014-03-07 15:15:00</td>
		<td>考试</td>
	</tr>
	<tr>
		<td><a href="">6</a></td>
		<td>
			<a href="">A+B</a>
		</td>
		<td>29.59% (271/916)</td>
		<td>2014-03-07 15:15:00</td>
		<td>考试</td>
	</tr>
	<tr>
		<td><a href="">7</a></td>
		<td>
			<a href="">如此完美</a>
		</td>
		<td>29.59% (271/916)</td>
		<td>2014-03-07 15:15:00</td>
		<td>考试</td>
	</tr>
	<tr>
		<td><a href="">8</a></td>
		<td>
			<a href="">如此完美</a>
		</td>
		<td>29.59% (271/916)</td>
		<td>2014-03-07 15:15:00</td>
		<td>考试</td>
	</tr>
	<tr>
		<td><a href="">9</a></td>
		<td>
			<a href="">如此完美</a>
		</td>
		<td>29.59% (271/916)</td>
		<td>2014-03-07 15:15:00</td>
		<td>考试</td>
	</tr>
	<tr>
		<td><a href="">10</a></td>
		<td>
			<a href="">A+B</a>
		</td>
		<td>29.59% (271/916)</td>
		<td>2014-03-07 15:15:00</td>
		<td>考试</td>
	</tr>
	<tr>
		<td><a href="">11</a></td>
		<td>
			<a href="">A+B</a>
		</td>
		<td>29.59% (271/916)</td>
		<td>2014-03-07 15:15:00</td>
		<td>考试</td>
	</tr>
	<tr>
		<td><a href="">12</a></td>
		<td>
			<a href="">A+B</a>
		</td>
		<td>29.59% (271/916)</td>
		<td>2014-03-07 15:15:00</td>
		<td>考试</td>
	</tr>
	<tr>
		<td><a href="">13</a></td>
		<td>
			<a href="">A+B</a>
		</td>
		<td>29.59% (271/916)</td>
		<td>2014-03-07 15:15:00</td>
		<td>考试</td>
	</tr>
	<tr>
		<td><a href="">14</a></td>
		<td>
			<a href="">A+B</a>
		</td>
		<td>29.59% (271/916)</td>
		<td>2014-03-07 15:15:00</td>
		<td>考试</td>
	</tr>
	<tr>
		<td><a href="">15</a></td>
		<td>
			<a href="">A+B</a>
		</td>
		<td>29.59% (271/916)</td>
		<td>2014-03-07 15:15:00</td>
		<td>考试</td>
	</tr>
	<tr>
		<td><a href="">16</a></td>
		<td>
			<a href="">A+B</a>
		</td>
		<td>29.59% (271/916)</td>
		<td>2014-03-07 15:15:00</td>
		<td>考试</td>
	</tr>
	<tr>
		<td><a href="">17</a></td>
		<td>
			<a href="">A+B</a>
		</td>
		<td>29.59% (271/916)</td>
		<td>2014-03-07 15:15:00</td>
		<td>考试</td>
	</tr>
	<tr>
		<td><a href="">18</a></td>
		<td>
			<a href="">A+B</a>
		</td>
		<td>29.59% (271/916)</td>
		<td>2014-03-07 15:15:00</td>
		<td>考试</td>
	</tr>
	<tr>
		<td><a href="">19</a></td>
		<td>
			<a href="">A+B</a>
		</td>
		<td>29.59% (271/916)</td>
		<td>2014-03-07 15:15:00</td>
		<td>考试</td>
	</tr>
	<tr>
		<td><a href="">20</a></td>
		<td>
			<a href="">A+B</a>
		</td>
		<td>29.59% (271/916)</td>
		<td>2014-03-07 15:15:00</td>
		<td>考试</td>
	</tr>
</table>