<include file="Public:header" />
<!-- content -->
<div class="content container">
<div class="row cont_head">
		<h3 class="text-muted col-md-7">学习专区</h3>
	</div>
<div class="introduce">
    <h2>Welcome to Data structure platform </h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, nostrum, harum dolorum officiis veniam in totam magnam optio quis quisquam voluptatum ab sunt nesciunt tempore expedita molestiae velit eaque voluptas. ipsum dolor sit amet, consectetur adipisicing elit. Nemo, similique, ad corporis recusandae minus veritatis ipsam voluptas neque quia odio amet porro consequatur possimus delectus ea sit tempore incidunt iste. ipsum dolor sit amet, consectetur adipisicing elit. Optio, officiis, porro, ullam reiciendis culpa iste rerum pariatur natus facilis error exercitationem mollitia sunt accusantium consequuntur laboriosam praesentium veniam voluptatibus voluptate? ipsum dolor sit amet, consectetur adipisicing elit. Eum, aperiam aspernatur cumque quam dignissimos expedita obcaecati impedit quod recusandae sequi deserunt quos id maxime blanditiis ad voluptatum saepe placeat veniam.</p>
</div>
</div>
<!-- endcontent -->
 <include file="Public:footer" />