	<div class="col-md-offset-2 changenote">
    	<p class="o_pass text-info">旧密码: 由英文，数字，常用字符组成，6-16个字符</p>
    	<p class="n_pass text-info">新密码: 由英文，数字，常用字符组成，6-16个字符</p>
    </div>
	<form class="form-horizontal changepass" role="form" method="get" action="">
		<div class="form-group">
			<label class="col-md-3 control-label">用户名</label>
			<div class="col-md-9">
			   <p class="form-control-static" class="username">谢峰</p>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-3 control-label">注册时间</label>
			<div class="col-md-9">
			   <p class="form-control-static">2011 20:45:45</p>
			</div>
		</div>
		<div class="form-group">
			<label for="oldPassword" class="col-md-3 control-label">旧密码</label>
			<div class="col-md-6">
				<input type="password" class="form-control" id="oldPassword" placeholder="密码不超过16个字符"></div>
		</div>
		<div class="form-group">
			<label for="newPassword" class="col-md-3 control-label">新密码</label>
			<div class="col-md-6">
				<input type="password" class="form-control" id="newPassword" placeholder="密码不超过16个字符"></div>
		</div>
		<div class="form-group">
			<div class="col-md-4 col-md-offset-4">
				<button type="submit" id="changesubmit" class="btn btn-info  btn-lg btn-block">确定修改</button>
			</div>
		</div>
	</form>