<div class="pre-scrollable">
	<table class="text-muted table-bordered">
		<tr class="row" class="row">
			<td class="col-md-2">基本信息</td>
			<td class="col-md-10">
				<p>姓名：谢峰</p>
				<p>注册时间：2011 05:12:03</p>
			</td>
		</tr>
		<tr class="row">
			<td class="col-md-2">成绩</td>
			<td class="col-md-10">
				<p>总排名：100</p>
				<p>AC率：19.05%(AC:4/Sub:21)</p>
			</td>
		</tr>
		<tr class="row">
			<td class="col-md-2">AC的题目</td>
			<td class="col-md-10">
				<p>
					(Total:400)：
					<a href="">620</a>
					<a href="">615</a>
					<a href="">113</a>
					<a href="">567</a>
					<a href="">194</a>
					<a href="">545</a>
					<a href="">403</a>
					<a href="">638</a>
					<a href="">550</a>
					<a href="">540</a>
					<a href="">591</a>
					<a href="">404</a>
					<a href="">696</a>
					<a href="">383</a>
					<a href="">691</a>
					<a href="">478</a>
					<a href="">416</a>
					<a href="">470</a>
					<a href="">342</a>
					<a href="">512</a>
					<a href="">695</a>
					<a href="">561</a>
					<a href="">346</a>
					<a href="">418</a>
					<a href="">331</a>
					<a href="">473</a>
					<a href="">474</a>
					<a href="">551</a>
					<a href="">372</a>
					<a href="">566</a>
					<a href="">467</a>
					<a href="">563</a>
					<a href="">623</a>
					<a href="">519</a>
					<a href="">376</a>
					<a href="">398</a>
					<a href="">325</a>
					<a href="">471</a>
					<a href="">480</a>
					<a href="">596</a>
					<a href="">560</a>
					<a href="">485</a>
					<a href="">401</a>
					<a href="">616</a>
					<a href="">529</a>
					<a href="">345</a>
					<a href="">549</a>
					<a href="">544</a>
					<a href="">111</a>
					<a href="">239</a>
					<a href="">457</a>
					<a href="">114</a>
					<a href="">460</a>
					<a href="">600</a>
					<a href="">240</a>
					<a href="">702</a>
					<a href="">652</a>
					<a href="">599</a>
					<a href="">528</a>
					<a href="">196</a>
					<a href="">407</a>
					<a href="">538</a>
					<a href="">547</a>
					<a href="">598</a>
					<a href="">340</a>
					<a href="">475</a>
					<a href="">601</a>
					<a href="">241</a>
					<a href="">27</a>
					<a href="">373</a>
					<a href="">535</a>
					<a href="">644</a>
					<a href="">632</a>
					<a href="">248</a>
					<a href="">456</a>
					<a href="">584</a>
					<a href="">643</a>
					<a href="">110</a>
					<a href="">412</a>
					<a href="">328</a>
					<a href="">635</a>
					<a href="">479</a>
					<a href="">606</a>
					<a href="">333</a>
					<a href="">433</a>
					<a href="">422</a>
					<a href="">597</a>
					<a href="">569</a>
					<a href="">568</a>
				</p>
			</td>
		</tr>
		<tr class="row">
			<td class="col-md-2">提交未AC</td>
			<td class="col-md-10">
				<p>
					(Total:50)：
					<a href="">620</a>
					<a href="">615</a>
					<a href="">113</a>
					<a href="">567</a>
					<a href="">194</a>
					<a href="">545</a>
					<a href="">403</a>
					<a href="">638</a>
					<a href="">550</a>
					<a href="">540</a>
					<a href="">591</a>
				</p>
			</td>
		</tr>
	</table>
</div>