<div class="row wrap">
    <div class="col-md-offset-2 regnote">
    	<h4>注册须知:</h4>
    	<p class="r_name text-info">用户名: 支持汉字，英文，数字，'-'，'_'，2-20个字符</p>
    	<p class="r_pass text-info">密码: 由英文，数字或常用字符组成，6-16个字符</p>
    	<p class="re_pass text-info">重复密码: 需与上面一致</p>
    </div>
	<form class="form-horizontal register col-md-8" role="form" method="get" action="">
		<div class="form-group">
			<label for="regName" class="col-md-3 control-label">用户名</label>
			<div class="col-md-9">
				<input type="text" class="form-control" id="regName"></div>
		</div>
		<div class="form-group">
			<label for="regPassword" class="col-md-3 control-label">密码</label>
			<div class="col-md-9">
				<input type="password" class="form-control" id="regPassword"></div>
		</div>
		<div class="form-group">
			<label for="rePassword" class="col-md-3 control-label">重复密码</label>
			<div class="col-md-9">
				<input type="password" class="form-control" id="rePassword"></div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-4 col-md-4">
				<button type="reset" class="btn btn-info">重置</button>
			</div>
			<div class=" col-md-4">
				<button id="regsubmit" type="submit" class="btn btn-info">注册</button>
			</div>
		</div>
	</form>
	<div class="col-md-4">
		<p>
			已有账号？
			<br>	
			<a href="#" id="regtolog" data-toggle="modal" data-target="#login">立即登陆</a>
		</p>
		<p>
			其他账号登陆:
			<br>	
			<a href="#">QQ</a>
			<a href="#">微博</a>
		</p>
	</div>
</div>