<form class="form-inline" id="searchsubject" role="form">
	<div class="form-group">
		<label class="sr-only" for="type">类型</label>
		<select name="type" class="form-control">
			<option value="1">按内容/题号</option>
			<option value="2">按主题</option>
			<option value="3">按时间</option>
		</select>
	</div>
	<div class="form-group">
		<label class="sr-only" for="text">搜索</label>
		<input placeholder="请输入题目或题号" name="text" id="text" class="form-control"></div>
	<div class="form-group">
		<button id="search_question" type="submit" class="btn btn-default">Go</button>
	</div>
</form>