<!-- rankModal -->
 <div class="modal fade" id="rank" tabindex="-1" role="dialog" aria-labelledby="rankLabel" aria-hidden="true">
 	<div class="modal-dialog lr_pos">
 		<div class="modal-content">
 			<div class="modal-header">
 				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
 				<h4 class="modal-title" id="rankLabel">564 找数组中的最大值 AC排名</h4>
 			</div>
 			<div class="modal-body">
 				<include file="subject:questionrank" />
 			</div>
 		</div><!-- /.modal-content --> 
 	</div><!-- /.modal-dialog -->
 </div>
 <!-- /.modal --> 
<!-- endlrankModal -->

<!-- submitModal -->
 <div class="modal fade" id="submit" tabindex="-1" role="dialog" aria-labelledby="submitLabel" aria-hidden="true">
 	<div class="modal-dialog lr_pos subcode">
 		<div class="modal-content">
 			<div class="modal-header">
 				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
 				<h4 class="modal-title" id="submitLabel">564 找数组中的最大值</h4>
 			</div>
 			<div class="modal-body">
 				<include file="Subject:submit" />
 			</div>
 		</div><!-- /.modal-content --> 
 	</div><!-- /.modal-dialog -->
 </div>
 <!-- /.modal --> 
<!-- endlsubmitModal -->
