<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">竞赛题目</div>

  <!-- Table -->
<table class="table table-hover table-bordered">
	<tr>
		<th>题号</th>
		<th>题目</th>
		<th>战斗值</th>
		<td>AC状态</td>
	</tr>
	<tr>
		<td>1</td>
		<td>
			<a href="__APP__/Home/Subject/question">好长的序列</a>
		</td>
		<td>10</td>
		<td class="text-success">AC</td>
	</tr>
	<tr>
		<td>2</td>
		<td>
			<a href="">SpringBot机器人指令集</a>
		</td>
		<td>10</td>
		<td class="text-success">AC</td>
	</tr>
	<tr>
		<td>3</td>
		<td>
			<a href="">将一个整数线性表拆分成奇数和偶数线性表</a>
		</td>
		<td>10</td>
		<td class="text-danger">NC</td>
	</tr>
	<tr>
		<td>4</td>
		<td>
			<a href="">求二叉树中某结点在层序序列中的编号</a>
		</td>
		<td>10</td>
		<td class="text-success">AC</td>
	</tr>
	<tr>
		<td>5</td>
		<td>
			<a href="">按层序输出二叉树根结点深度较小的子树中的结点</a>
		</td>
		<td>10</td>
		<td class="text-danger">NC</td>
	</tr>
	<tr>
		<td>6</td>
		<td>
			<a href="">A+B</a>
		</td>
		<td>10</td>
		<td class="text-danger">NC</td>
	</tr>
	<tr>
		<td>7</td>
		<td>
			<a href="">如此完美</a>
		</td>
		<td>10</td>
		<td class="text-success">AC</td>
	</tr>
	<tr>
		<td>8</td>
		<td>
			<a href="">如此完美</a>
		</td>
		<td>10</td>
		<td class="text-success">AC</td>
	</tr>
	<tr>
		<td>9</td>
		<td>
			<a href="">如此完美</a>
		</td>
		<td>10</td>
		<td class="text-danger">NC</td>
	</tr>
	<tr>
		<td>10</td>
		<td>
			<a href="">A+B</a>
		</td>
		<td>10</td>
		<td class="text-danger">NC</td>
	</tr>	
</table>
</div>