<include file="Public:header" />
<!-- content -->
<div class="content container">
    <!-- conthead -->
	<div class="row cont_head">
		<h3 class="text-muted col-md-9">竞赛列表</h3>
		<div class="col-md-3 serchquest">
		  <a class="btn btn-info btn-block" href="__APP__/Home/Competition/lanchCompet">发起竞赛</a>
		</div>
	</div>
	<!-- /.conthead -->
	<div class="main">

	  <include file="List:page" />

      <include file="List:competitionList" />

	</div>
</div>
<!-- endcontent -->
 <include file="Public:footer" />